{% extends 'accounts/main.html' %}

{% block content %}

<div class="row">
    
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3" id="select-contact-id">
                <div class="card-header">
                    <div class="card-title">Search Contact Id:</div>
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <div>
                            <div class="hoverBtn" data-toggle="collapse" data-target="#contact_id_form">Click to view...</div>
                            <form id="contact_id_form" method="POST" action="" enctype="multipart/form-data" class="collapse">
                                <br>
                                {% csrf_token %}
                                {{ contact_id_form.as_p }}
                        
                                <input class="btn btn-primary" type="submit" name="Get contact id">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if show_agent_activity_table == True %}
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3" id="perc-outside-limit">
                <div class="card-header">
                    <div class="card-title">Agent</div>
                </div>
                <div class="card-body">
                    <div class="card-title">{{ username }} - {{ agent_name }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3" id="perc-outside-limit">
                <div class="card-header">
                    <div class="card-title">Services</div>
                </div>
                <div class="card-body">
                    <div class="card-title">{{ services|join:"<br>" }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3" id="perc-outside-limit">
                <div class="card-header">
                    <div class="card-title">Comments</div>
                </div>
                <div class="card-body">
                    <div class="card-title">{{ comments|join:"<br>" }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3" id="perc-outside-limit">
                <div class="card-header">
                    <div class="card-title">Call Outcome</div>
                </div>
                <div class="card-body">
                    <div class="card-title">{{ call_outcome }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3" id="perc-outside-limit">
                <div class="card-header">
                    <div class="card-title">Wrap up notes</div>
                </div>
                <div class="card-body">
                    <div class="card-title">{{ wrap_up_notes }}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row" id="call_outcome_table_row">
    <br>
    <div class="col">
        <div class="col-md">
            <div class="card card-body">
                {% include 'accounts/tables/agent_activity_table.html' %}
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock content %}
