{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>

<br>
<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'dashboard' %}"> &#8592; Back to Dashboard</a>
			<hr>
			<img class="profile-pic" src="{{request.user.agent.profile_pic.url}}">
			<hr>
			<h6 style="text-align: center">{{ profilePic }}</h6>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card card-body">
			<h5 style="text-align: center"><strong>Name: </strong>{{ agent.user.first_name }} {{ agent.user.last_name }}</h5>
			<hr>
			<h5 style="text-align: center"><strong>Email: </strong>{{ agent.user.email }}</h5>
			<hr>
			<h5 style="text-align: center"></h5>
			<hr>
			<h5 style="text-align: center"><strong>Team: </strong>{{ agent.team_id }}</h5>
			<hr>
			<h5 style="text-align: center"><strong>Department: </strong>{{ agent.team_id.department_id }}</h5>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card card-body" style="text-align: center">
			<h4>Search criteria</h4>
			<hr>
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.as_p }}
		
				<input class="btn btn-primary" type="submit" name="Update Information">
			</form>
		</div>
	</div>
	<div class="col-md-1">
	</div>
</div>

{% endblock %}