{% extends 'accounts/main.html' %}

{% block content %}

{% include 'accounts/statistics.html' %}

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3">
                <div class="card-header">
                    <div class="btn btn-info make-bar-chart" onclick="chnage_graph_type(this, 'call-outcome')"></div>
                </div>
                <div class="card-body">
                    {% include 'accounts/charts/call_outcome_chart.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3">
                <div class="card-header">
                    <div class="btn btn-info make-bar-chart" onclick="chnage_graph_type(this, 'services')"></div>
                </div>
                <div class="card-body">
                    {% include 'accounts/charts/services_chart.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3">
                <div class="card-header">
                    <div class="btn btn-info make-bar-chart" onclick="chnage_graph_type(this, 'brands')"></div>
                </div>
                <div class="card-body">
                    {% include 'accounts/charts/brands_chart.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center card-body">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#call_outcome_table_row" onclick="toggleBorder(this)">Call Outcome Table</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center card-body">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#services_table_row" onclick="toggleBorder(this)">Services Table</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center card-body">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#brands_table_row" onclick="toggleBorder(this)">Brands Table</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center card-body">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#criteria_contact_table_row" onclick="toggleBorder(this)">Report Table</button>
            </div>
        </div>
    </div>
</div>

<div class="row collapse" id="call_outcome_table_row">
    <br>
    <div class="col">
        <div class="col-md">
            <div class="card card-body">
                {% include 'accounts/tables/call_outcome_table.html' %}
            </div>
        </div>
    </div>
</div>

<div class="row collapse" id="services_table_row">
    <br>
    <div class="col">
        <div class="col-md">
            <div class="card card-body">
                {% include 'accounts/tables/services_table.html' %}
            </div>
        </div>
    </div>
</div>

<div class="row collapse" id="brands_table_row">
    <br>
    <div class="col">
        <div class="col-md">
            <div class="card card-body">
                {% include 'accounts/tables/brands_table.html' %}
            </div>
        </div>
    </div>
</div>

<div class="row collapse" id="criteria_contact_table_row">
    <br>
    <div class="col">
        <div class="col-md">
            <div class="card card-body">
                {% include 'accounts/tables/criteria_contact_table.html' %}
            </div>
        </div>
    </div>
</div>

<script>
    var call_outcome_chart = document.getElementById('call-outcome-chart').getContext('2d');
    var services_chart = document.getElementById('services-chart').getContext('2d');
    var brands_chart = document.getElementById('brands-chart').getContext('2d');
    var myPieCallOutcome = "";
    var myPieServices = "";
    var myPieBrands = "";
    window.onload = function() {
        myPieCallOutcome = new Chart(call_outcome_chart, call_outcome_chart_config);
        myPieServices = new Chart(services_chart, services_chart_config);
        myPieBrands = new Chart(brands_chart, brands_chart_config);
    };
    function toggleBorder(o){
        o.classList.toggle("selectedBorder");
    }
    function chnage_graph_type(o, graph){
        o.classList.toggle("make-pie-chart");
        o.classList.toggle("make-bar-chart");
        if (graph == 'call-outcome') {
            myPieCallOutcome.destroy();
            if (call_outcome_chart_config.type == "pie") {
                call_outcome_chart_config.type = "bar";
                call_outcome_chart_config.options.scales.xAxes[0].display = true;
                call_outcome_chart_config.options.scales.yAxes[0].display = true;
            } else {
                call_outcome_chart_config.type = "pie";
                call_outcome_chart_config.options.scales.xAxes[0].display = false;
                call_outcome_chart_config.options.scales.yAxes[0].display = false;
            }
            myPieCallOutcome = new Chart(call_outcome_chart, call_outcome_chart_config);
        } else if (graph == 'services') {
            myPieServices.destroy();
            if (services_chart_config.type == "pie") {
                services_chart_config.type = "bar";
                services_chart_config.options.scales.xAxes[0].display = true;
                services_chart_config.options.scales.yAxes[0].display = true;
            } else {
                services_chart_config.type = "pie";
                services_chart_config.options.scales.xAxes[0].display = false;
                services_chart_config.options.scales.yAxes[0].display = false;
            }
            myPieServices = new Chart(services_chart, services_chart_config);
        } else if (graph == 'brands') {
            myPieBrands.destroy();
            if (brands_chart_config.type == "pie") {
                brands_chart_config.type = "bar";
                brands_chart_config.options.scales.xAxes[0].display = true;
                brands_chart_config.options.scales.yAxes[0].display = true;
            } else {
                brands_chart_config.type = "pie";
                brands_chart_config.options.scales.xAxes[0].display = false;
                brands_chart_config.options.scales.yAxes[0].display = false;
            }
            myPieBrands = new Chart(brands_chart, brands_chart_config);
        }
    }
</script>

{% endblock content %}
