{% extends 'accounts/main.html' %}

{% block content %}

{% include 'accounts/statistics.html' %}

<div class="row">
    <div class="col-md">
        <div class="card card-body">

            {% include 'accounts/tables/call_outcome_table.html' %}
            {% include 'accounts/tables/services_table.html' %}
            {% include 'accounts/tables/criteria_contact_table.html' %}
            {% include 'accounts/charts/call_outcome_chart.html' %}

        </div>
    </div>
</div>

{% endblock content %}
