{% extends 'accounts/main.html' %}

{% block content %}

{% include 'accounts/status.html' %}

{% for message in messages %}
<script type="text/javascript">
alert('{{ message }}');
</script>
{% endfor %}

<style>
    .isHidden {
        display: none;
    }

#expand-btn {
  width: 20px;
  height: 20px;
  border: solid black 2px;
  font-size: 1.5em;
  position: relative;
  border-radius: 100%;
  transition: .3s;
}

.btn-col-open {
    background-color: green;
}

.btn-col-closed {
    background-color: red;
}

#expand-btn span {
  position: absolute;
  transition: .3s;
  background-color: white;
  border-radius: 2px;
}

.btn-col-open span:first-of-type {
  top: 25%;
  bottom: 25%;
  width: 10%;
  left: 45%;
}

.btn-col-open span:last-of-type {
  left: 25%;
  right: 25%;
  height: 10%;
  top: 45%;
}

.btn-col-closed span:first-of-type, .btn-col-closed span:last-of-type {
  transform: rotate(90deg);
}

.btn-col-closed span:last-of-type {
  left: 50%;
  right: 50%;
}
</style>

<div class="row">
    <div class="col">
        <hr>
        <p class="filter_btn">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseAgentFilter" aria-expanded="false" aria-controls="collapseAgentFilter">
                Filters
            </button>
          </p>
        <div class="collapse" id="collapseAgentFilter">
            <div class="card card-body">
                <form method="GET">
                    {{ myFilter.form.as_p }}
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Contact ID</th>
                    <th>Date</th>
                    <th>Call duration <div id="expand-btn" class="btn-col-open" onclick="toggleColumns(this)"><span></span><span></span></div></th>
                    <th class="collapseTimeColumns isHidden">Start time</th>
                    <th class="collapseTimeColumns isHidden">Wrap up duration</th>
                    <th class="collapseTimeColumns isHidden">End time</th>
                    <th>Call outcome</th>
                    <th>Wrap up notes</th>
                    <th>Call type</th>
                    <th>Dialled</th>
                    <th>Brand</th>
                </tr>

                {% for call in ranged_count %}
                    <tr>
                        <td>{{ call.contact_session_id }}</td>
                        <td>{{ call.contact_date }}</td>
                        <td>{{ call.call_time }}</td>
                        <td class="collapseTimeColumns isHidden">{{ call.contact_session_id.call_start_time|time:"g:i:s a" }}</td>
                        <td class="collapseTimeColumns isHidden">{{ call.contact_session_id.wrap_up_duration|time:"G:i:s" }}</td>
                        <td class="collapseTimeColumns isHidden">{{ call.contact_session_id.call_end_time|time:"g:i:s a" }}</td>
                        <td>{{ call.call_outcome }}</td>
                        <td>{{ call.wrap_up_notes }}</td>
                        <td>{{ call.contact_session_id.call_type }}</td>
                        <td>{{ call.contact_session_id.dialled }}</td>
                        <td>{{ call.contact_session_id.brand_id }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>

<script>
    function toggleColumns(arrow) {
        for (var i = 0; i < document.getElementsByClassName("collapseTimeColumns").length; i++) {
            document.getElementsByClassName("collapseTimeColumns")[i].classList.toggle("isHidden");
        }

        arrow.classList.toggle("btn-col-open");
        arrow.classList.toggle("btn-col-closed");
    }
</script>

{% endblock content %}