{% load static %}

<!--JQuery Plugins-->
<link href="{% static 'css/bootstrap-addin.min.css' %}" rel="stylesheet">
<script src="{% static 'js/bootstrap-ajax.min.js' %}"></script>
<script src="{% static 'js/bootstrap-addin.min.js' %}"></script>

<!--Bootstrap Plugins-->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-grid.min.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-reboot.min.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-utilities.min.css' %}" rel="stylesheet">
<link href="{% static 'css/collapse.min.css' %}" rel="stylesheet">
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.esm.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>

<!--DataTables Plugins-->
<link href="{% static 'css/datatables/datatables.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/datatables/buttons.min.css' %}" rel="stylesheet" />
<script src="{% static 'js/datatables/datatables.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/datatables/buttons.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/datatables/jszip.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/datatables/html5.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/datatables/colvis.min.js' %}" type="text/javascript"></script>

<!--Ajax Datatables-->
<link href="{% static 'ajax_datatable/css/style.css' %}" rel="stylesheet" />
<script src="{% static 'ajax_datatable/js/utils.js' %}" type="text/javascript"></script>

<!--ChartJs Plugins-->
<script src="{% static 'js/chartjs/chart.min.js' %}" type="text/javascript"></script>

<!--Generic-->
<link href="{% static 'css/generic.css' %}" rel="stylesheet">