{% load static %}

<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>SCR - {{ title }}</title>

    {% include 'accounts/external_links.html' %}

</head>

<body>

    {% include 'accounts/navbar.html' %}

    <div id="main-body">
        {% block content %}
        {% endblock %}
    </div>

    <div></div>

    {% include 'accounts/footer.html' %}

    {% for message in messages %}

        <script type="text/javascript">
            alert('{{ message }}');
        </script>

    {% endfor %}

</body>
</html>
