{% load static %}

<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>SCR - {{ title }}</title>

    {% include 'accounts/external_links.html' %}

</head>

<body>
    {% if login == "No" %}
        {% include 'accounts/navbar_login.html' %}
    {% else %}
        {% include 'accounts/navbar.html' %}
    {% endif %}

    <div id="main-body">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'js/generic.js' %}" type="text/javascript"></script>

    {% include 'accounts/footer.html' %}

    {% for message in messages %}

        <script type="text/javascript">
            alert('{{ message }}');
        </script>

    {% endfor %}

</body>
</html>
