{% extends 'accounts/main.html' %}

{% block content %}

<div class="row">
	<div class="col">
		<div class="col-md-4"></div>
	</div>
	<div class="col">
		<div class="col-md">
			<div class="card text-center mb-3" id="select-date-range">
				<div class="card-header">
					<div class="card-title">Register</div>
				</div>
				<div class="card-body">
					<div class="card-title">
						<div>
							<form method="POST" action="">
								{% csrf_token %}
		
								{% for field in form %}
									<div class="input-group mb-3">
										{{ field }}
									</div>
								{% endfor %}
		
								<div class="d-flex justify-content-center mt-3 login_container">
									<input class="btn btn-primary btn-sm btn-block" name="submit" type="submit" value="Register Account">
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="card-header">
					<div class="d-flex justify-content-center links">
						Already have an account?&nbsp;<a href="{% url 'login' %}" class="ml-2">Login</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="col-md-4"></div>
	</div>
</div>

<script>
	var form_fields = document.getElementsByTagName('input')
	form_fields[1].placeholder='Username...';
	form_fields[2].placeholder='First name...';
	form_fields[3].placeholder='Last name...';
	form_fields[4].placeholder='Email...';
	form_fields[5].placeholder='Enter password...';
	form_fields[6].placeholder='Re-enter Password...';
	
	for (var field in form_fields){	
		form_fields[field].className += ' form-control'
	}
</script>

{% endblock content %}