<div class="row">

    {% if oversessing %}
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3" id="all-calls-today">
                    <div class="card-header">
                        <div class="card-title">Agent's dashboard</div>
                    </div>
                    <div class="card-body">
                        <div class="card-title">{{ agent }}</div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3" id="all-calls-today">
                <div class="card-header">
                    <div class="card-title">Total calls</div>
                </div>
                <div class="card-body">
                    <div class="card-title">{{ full_call_count }}</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3" id="perc-outside-limit">
                <div class="card-header">
                    <div class="card-title">Calls outside criteria</div>
                </div>
                <div class="card-body">
                    <div class="card-title">{{ criteria_call_count }}</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3" id="average-call-length">
                <div class="card-header">
                    <div class="card-title">Average call duration</div>
                </div>
                <div class="card-body">
                    <div class="card-title">{{ call_average }}</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3" id="select-date-range">
                <div class="card-header">
                    <div class="card-title">Select date range:</div>
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <div>
                            <div class="hoverBtn" data-toggle="collapse" data-target="#date_filter_form">Click to view...</div>
                            <form id="date_filter_form" method="POST" action="" enctype="multipart/form-data" class="collapse">
                                <br>
                                {% csrf_token %}
                                {{ date_form.as_p }}
                        
                                <input class="btn btn-primary" type="submit" name="Get date range">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>