<br>

<div class="row">
	<div class="col-md-1">
	</div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3" id="all-calls-today">
                <div class="card-header">
                    <h5 class="card-title">Total Calls Today</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{calls_today_count}}</h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3" id="average-call-length">
                <div class="card-header">
                    <h5 class="card-title">Average Call Length</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ avg }}</h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3" id="perc-outside-limit">
                <div class="card-header">
                    <h5 class="card-title">Percentage Outside Limits</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ max }}</h3>
                </div>
            </div>
        </div>
    </div>
	<div class="col-md-1">
	</div>
</div>