<br>

<div class="row">

    {% if oversessing %}
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3" id="all-calls-today">
                    <div class="card-header">
                        <div class="card-title">Agent's dashboard</div>
                    </div>
                    <div class="card-body">
                        <div class="card-title">{{ agent }}</div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3" id="all-calls-today">
                <div class="card-header">
                    <div class="card-title">Total calls today</div>
                </div>
                <div class="card-body">
                    <div class="card-title">{{ calls_today_count }}</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3" id="average-call-length">
                <div class="card-header">
                    <div class="card-title">Average call duration</div>
                </div>
                <div class="card-body">
                    <div class="card-title">{{ avg }}</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3" id="perc-outside-limit">
                <div class="card-header">
                    <div class="card-title">Calls outside criteria</div>
                </div>
                <div class="card-body">
                    <div class="card-title">{{ max }}</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3" id="perc-outside-limit">
                <div class="card-header">
                    <div class="card-title">Vs yesterday</div>
                </div>
                <div class="card-body">
                    <div class="card-title">{{ max }}</div>
                </div>
            </div>
        </div>
    </div>

</div>