{% load static %}
<table id="agent_contact_sessions" class="table table-sm">
    <thead>
        <tr>
            <th>Contact ID</th>
            <th>Date</th>
            <th>Comments</th>
            <th>Services</th>
            <th>Call Time</th>
        </tr>
    </thead>
    <tbody>
        {% for row in table %}
        <tr>
            <td>{{ row.contact_id }}</td>
            <td>{{ row.contact_id__contact_date }}</td>
            <td>{{ row.call_time }}</td>
            <td>{{ row.comments|join:"<br>" }}</td>
            <td>{{ row.services|join:"<br>" }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Contact ID</th>
            <th>Date</th>
            <th>Comments</th>
            <th>Services</th>
            <th>Call Time</th>
        </tr>
    </tfoot>
</table>