{% load static %}
<table id="agent_contact_sessions" class="table table-sm">
    <thead>
        <tr>
            <th>Contact ID</th>
            <th>Req ID</th>
            <th>Service ID</th>
        </tr>
    </thead>
    <tbody>
        {% for row in table %}
        <tr>
            <td>{{ row.contact_id }}</td>
            <td>{{ row.req_service_id }}</td>
            <td>{{ row.service_type_id }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Contact ID</th>
            <th>Req ID</th>
            <th>Service ID</th>
        </tr>
    </tfoot>
</table>