{% load static %}

<table id="agent_activity_table" class="table table-sm">
    <thead>
        <tr>
            <th>Order</th>
            <th>Time</th>
            <th>Source</th>
            <th>Event</th>
        </tr>
    </thead>
    <tbody id="agent_activity_tbody">
    </tbody>
    <tfoot>
        <tr>
            <th>Order</th>
            <th>Time</th>
            <th>Source</th>
            <th>Event</th>
        </tr>
    </tfoot>
</table>

<script language="javascript">
    tbody = document.getElementById("agent_activity_tbody");
    rows = Math.floor(Math.random() * 50) + 50;
    date = new Date(0, 0, 0, 0, 0, 0);

    $(document).ready(function() {

        function addZero(time) {
            if (time < 10) {
                return "0" + time;
            } else {
                return time;
            }
        }

        function getRandomString(length) {
            var result = '';
            var characters = '                        ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            var charactersLength = characters.length;
            for ( var i = 0; i < length; i++ ) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            return result;
        }

        for(var i = 0; i < rows; i++){

            tbody.innerHTML += "<tr><td>" + (i+1) + "</td><td>" + date.getHours() + ":" + addZero(date.getMinutes()) + ":" + addZero(date.getSeconds()) + "</td><td>" + getRandomString(10) + "</td><td>" + getRandomString(20) + "</td></tr>";
            date = new Date(0, 0, 0, date.getHours(), date.getMinutes(), date.getSeconds() + Math.floor(Math.random() * 40))

        }

        $('#agent_activity_table').DataTable(
            buttons: [
                $.extend( true, {}, buttonCommon, {
                    extend: 'copyHtml5'
                } ),
                $.extend( true, {}, buttonCommon, {
                    extend: 'excelHtml5'
                } ),
                $.extend( true, {}, buttonCommon, {
                    extend: 'pdfHtml5'
                } )
            ]
        );

    });
</script>