{% load static %}

<table id="agent_activity_table" class="table table-sm">
    <thead>
        <tr>
            <th>Order</th>
            <th>Time</th>
            <th>Source</th>
            <th>Event</th>
        </tr>
    </thead>
    <tbody id="agent_activity_tbody">
    </tbody>
    <tfoot>
        <tr>
            <th>Order</th>
            <th>Time</th>
            <th>Source</th>
            <th>Event</th>
        </tr>
    </tfoot>
</table>

<script language="javascript">
    tbody = document.getElementById("agent_activity_tbody");
    rows = Math.floor(Math.random() * 100);

    $(document).ready(function() {

        for(var i = 0; i < rows; i++){
            alert(i);
            tbody.innerHTML += "<tr><td>" + (i+1) + "</td><td>" + (i+1) + "</td><td>" + (i+1) + "</td><td>" + (i+1) + "</td></tr>";
        }

        $('#agent_activity_table').DataTable();

    });
</script>