{% load static %}

<table id="criteria_contact_table" class="table table-sm">
    <thead>
        <tr>
            <th>Contact ID</th>
            <th>Date</th>
            <th>Call Dur.</th>
            <th>Start Time</th>
            <th>Wrap Up Dur.</th>
            <th>End Time</th>
            <th>Call Type</th>
            <th>Dialled</th>
            <th>Brand</th>
            <th>Call Outcome</th>
            <th>Wrap Up Notes</th>
            <th>Comments</th>
            <th>Services</th>
        </tr>
    </thead>
    <tbody>
        {% for row in criteria_contact_table %}
        <tr>
            <td><a href="{% url 'agent_activity' row.contact_id %}">{{ row.contact_id }}</a></td>
            <td>{{ row.contact_id__contact_date|date:"N j, Y" }}</td>
            <td>{{ row.call_time }}</td>
            <td>{{ row.contact_id__contact_session_id__call_start_time|time:"g:i:s a" }}</td>
            <td>{{ row.contact_id__contact_session_id__wrap_up_duration|time:"G:i:s" }}</td>
            <td>{{ row.contact_id__contact_session_id__call_end_time|time:"g:i:s a" }}</td>
            <td>{{ row.contact_id__contact_session_id__call_type }}</td>
            <td>{{ row.contact_id__contact_session_id__dialled }}</td>
            <td>{{ row.contact_id__contact_session_id__brand_id__brand_name }}</td>
            <td>{{ row.contact_id__call_outcome }}</td>
            <td>{{ row.contact_id__wrap_up_notes }}</td>
            <td>{{ row.comments|join:"<br>" }}</td>
            <td>{{ row.services|join:"<br>" }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Contact ID</th>
            <th>Date</th>
            <th>Call Dur.</th>
            <th>Start Time</th>
            <th>Wrap Up Dur.</th>
            <th>End Time</th>
            <th>Call Type</th>
            <th>Dialled</th>
            <th>Brand</th>
            <th>Call Outcome</th>
            <th>Wrap Up Notes</th>
            <th>Comments</th>
            <th>Services</th>
        </tr>
    </tfoot>
</table>

<script language="javascript">
    $(document).ready(function() {

        $('#criteria_contact_table').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                extend: 'copy',
                text: "Copy entire table"
                }
            ]
        });

    });
</script>